<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admindashboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/admin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/admin_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminDashboard">
        <activity android:name=".otp.OtpVerifyActivity"/>
        <activity android:name=".otp.OtpProfileAactivity" />
        <activity android:name=".otp.OtpMainActivity" />
        <activity android:name=".otp.OtpActivity" />
        <activity
            android:name=".student.UpdateStudent"
            android:parentActivityName=".student.Uploadstudent" />
        <activity
            android:name=".student.AddStudent"
            android:parentActivityName=".student.Uploadstudent" />
        <activity
            android:name=".student.Uploadstudent"
            android:parentActivityName=".MainActivity" />


        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".notice.DeleteNoticeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".teacher.AddTeacher"
            android:parentActivityName=".teacher.Uploadfaculty" />
        <activity
            android:name=".teacher.UpdateTeacherActivity"
            android:parentActivityName=".teacher.Uploadfaculty" />
        <activity
            android:name=".teacher.Uploadfaculty"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ebook.UploadPdfActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".image.UploadImage"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".notice.UploadNotice"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>